<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>POLÍTICAS</h4>
                <ul>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Políticas de cambio</a></li>
                    <li><a href="#">Políticas de envío</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Responsabilidad social</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>SOBRE NOSOTROS</h4>
                <ul>
                    <li><a href="#">Encuentra tu tienda</a></li>
                    <li><a href="#">Contáctanos</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>SÍGUENOS EN:</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
